<app-header></app-header>


  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email"
             id="email"
             name="email"
             class="form-control"
             ngModel
             email
             required
             #email="ngModel"
      >
      <div [hidden]="email.valid || email.pristine"
           class="alert alert-danger">
        invalid Email!
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password"
             id="password"
             name="password"
             class="form-control"
             ngModel
             required
             #password="ngModel"
      >
      <div [hidden]="password.valid || password.pristine"
           class="alert alert-danger">
        invalid Password!
      </div>
    </div>
    <br>

      <button [disabled]="!userForm.valid"
              type="submit" class="btn-primary"

      >Sign
        {{hasAccount ? ' In' : ' Up'}}
      </button>


  </form>
<br>
<button
  (click)="hasAccount=!hasAccount"
> switch to {{hasAccount ? 'Sign Up' : 'Sign In'}}</button>
<!--<div *ngIf="errorMessage.trim().length>0">{{errorMessage}}</div>-->
<app-footer class="footer"></app-footer>
